VITE_DEFAULT_LOCALE=en
VITE_SITENAME=ChinaPoll
VITE_SLOGON=Public opinion made visible
VITE_DATA_GITHUB_URL=https://github.com/qianhujia/chinapoll-data
VITE_POLLS_PER_PAGE=15
VITE_COMMENTS_PER_PAGE=30
VITE_PAGE_WIDTH=960px
